---
layout: page
title: Archive
titlename: Archive
---

<div id="archive-page">
{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_month %}{{ post.previous.date | date: "%m" }}{% endcapture %}
  
    {% if forloop.first %}
      <legend id="{{this_year}}-{{this_month}}" class="legend-terry">{{this_year}}-{{this_month}}</legend>
    {% endif %}
    <li>
      <a class="pjaxlink" href="{{ post.url }}"> {{ post.date | date: "%Y-%m-%d" }} {{ post.title }}</a>
    </li>
  
    {% if forloop.last %}
    {% else %}
      {% if this_year != next_year %}
        <hr>
        <legend id="{{next_year}}-{{next_month}}" class="legend-terry">{{next_year}}-{{next_month}}</legend>
      {% else %}
        {% if this_month != next_month %}
        <hr>
        <legend id="{{next_year}}-{{next_month}}" class="legend-terry">{{next_year}}-{{next_month}}</legend>
        {% endif %}
      {% endif %}
    {% endif %}
{% endfor %}
</div>